@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #ffffff;
  width: 100%;
}

#navbar li, #navbar ul{
  padding: 0;
  margin: 0;
}

#not {
  width: 100vw !important;
  display: flex !important;
}